<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>

            {% block title %}

            {% endblock %}

        </title>
		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet" />
	</head>
	<body class="font-sans bg-gray-100 min-h-screen flex flex-col">
		<nav class="flex bg-gray-800 p-4">
			<button
				id="toggleSidebar"
				class="flex items-center justify-center bg-white text-black h-10 w-10 rounded text-2xl">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
				  </svg>
				  
			</button>
		</nav>
		<div class="flex flex-row relative">
			<aside
				id="sidebar"
				class="w-64 absolute min-h-screen bg-gray-200 flex flex-col hidden">
				<div class="p-4 bg-gray-200">
					<div class="">
                        <a href="{{url_for('home')}}"><h2 class="text-xl font-bold mb-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
						  </svg>
						  </h2></a>
                    </div>
                    <div class="">
                        <a href="{{url_for('data_pengguna')}}"><h2 class="text-xl font-semibold mb-4">Data Customer</h2></a>
                    </div>  
                    <div class="">
                        <a href="{{url_for('transaksi')}}"><h2 class="text-xl font-semibold mb-4">Transaksi</h2></a>
                    </div>
                    <div class="">
                        <a href="{{url_for('history')}}"><h2 class="text-xl font-semibold mb-4">Riwayat</h2></a>
                    </div>
					<div class="">
						<a href="{{url_for('index')}}"><svg class="w-6 h-6 mb-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 15">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 7.5h11m0 0L8 3.786M12 7.5l-4 3.714M12 1h3c.53 0 1.04.196 1.414.544.375.348.586.82.586 1.313v9.286c0 .492-.21.965-.586 1.313A2.081 2.081 0 0 1 15 14h-3"/>
						  </svg></a>
					</div>
                </div>
			</aside>
			<div id="main" class="flex flex-col min-h-screen w-full">
				<main id="mainContent">
                    {% block body %}
                    {% endblock %}
				</main>
			</div>
		</div>
		<footer class="bg-gray-800 text-white p-4 h-[40px] text-center">
			&copy; 2023
		</footer>
		<script>
			const toggleButton = document.getElementById("toggleSidebar");
            const main = document.getElementById("main")

			toggleButton.addEventListener("click", () => {
				sidebar.classList.toggle("hidden");
                main.classList.toggle("md:ml-64")
			});
		</script>
	</body>
</html>
